:root {
	--header-size: 60px;
    /* --global-font-family: Verdana, sans-serif; */
    --global-text-color: #495057;
	--global-text-color-secondary: #ddd;
	--global-color-accent-light: #5581d7;
	--global-color-selected: #2d4471;
	--global-color-selected-secondary: #5f88c9;
	--primary: #0676ed;
	/* --background: #161c21; */
	--warning: #f2a600;
	/* --success: #12c99b; */
	--error: #e41749;
	--dark: #151a30;
}

:focus-visible {
	outline: thin;
}

:root[data-theme="light"] .theme-image {
	filter: invert();
}

/* ----- Lexgui style overrides ----- */
.lexbutton.warning { --button-color: var(--global-color-warning); --border-color: #793205; color: black;  }

.showScrollBar::-webkit-scrollbar{
	display: block !important
}

.hover\:scale:hover {
	transform: scale(1.1);
	transition: transform 0.3s cubic-bezier(.42,.97,.52,1.19);
}

.lexmenubar {
	background: none;
	display: flex;
	padding-inline: 10px;
}

.lexfooter a:hover {
    color: var(--global-color-accent);
}

.lexfooter .credits-and-socials {
	display: flex;
	justify-content: space-around;
	padding-inline: 0;
}

.lexfooter .credits-and-socials i {
	cursor: pointer;
	font-size: 22px;
}

.lexfooter .social {
	display: flex;
}

.lexfooter p {
    font-size: var(--global-font-size-sm);
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
}

/* .lexcombobuttons .lexbutton.combo.selected {
	--button-color: var(--global-color-accent);
	color: #fff;
	outline: none;
} */

svg.xxxl { width: 3.5rem; height: 3.5rem; }

.lexprogressbar {
    border: none !important;
    width: 95%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent!important;
}

.lexprogressbar.editable:hover {
    cursor: pointer;
}

/* The gray background in Chrome, etc. */
.lexprogressbar::-webkit-meter-bar {
    border-radius: 0.25rem;
    height: 12px;
    background: var(--global-blur-background)!important;
    border-color: var(--global-blur-background);
    /* background: color-mix(in srgb, var(--global-color-accent) 20%, transparent); */
}

/* (optimum) */
meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--global-color-accent);
}

.lexprogressbar::-webkit-meter-optimum-value {
    background: var(--global-color-accent);
}

/* ----- End of lexGUI overrides ----- */

canvas {
	outline: none !important;
}


.float-right {
	float: right;
}

.orientation-helper-dom {
	position: absolute;
	margin-right: 20px;
	right: 0px;
	top: 0px;
}

/* -------------- Propagation Window -------------- */
.cardList {
	gap: 5px;
	width: 100%;
	height: auto;
}
.cardList li {
	outline: black 1px dashed;
	border-radius: 10px;
	font-size: 0px;
	overflow: hidden;
	transition: all 0.1s;
}
.cardList li:hover{
	outline: black 2px solid;
}
.cardList li img {
	gap: 5px;
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    text-align: center;
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	pointer-events: none;
    transition: all 0.2s;
}
.cardList li:hover img{
	transform: scale(1.12);
}

/* -------------- end of propagation window -------------- */

/* -------------- Loading popups and animations -------------- */
#loading {
	background-color: #111;
	opacity: 1;
	z-index: 1000;
	/* font-size: 1.2em; */
}

.loading-modal {
	background-color: rgba(51, 51, 51, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	z-index: 100000;
	color: white;
	font-size: larger;
}

.loading-icon {
	width: 45px;
	height: 45px;
	border-radius: 4px;
	background-image: url("../data/imgs/animics_monster.png");
	/* #4b9cdb;*/
	background-size: cover;
}

.loading-icon.big {
	width: 60px;
	height: 60px;
}

.load {
	top: calc(50% - 30px);
	position: relative;
	left: calc(50% - 30px - 35px);
}

.load .loading-icon {
	animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
	animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingG {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}

	50% {
		transform: translate(70px, 0) rotate(360deg);
	}

	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

.loading-icon {
	position: relative;
	top: 0;
	left: 0;
	animation: combined 2s linear infinite alternate;
	-webkit-animation: combined 2s linear infinite alternate;
}

@keyframes combined {

	16%,
	48%,
	78% {
		top: 120px;
		animation-timing-function: ease-out;
	}

	32% {
		top: 0px;
		animation-timing-function: ease-in;
	}

	62% {
		top: 50px;
		animation-timing-function: ease-in;
	}

	90% {
		top: 70px;
		animation-timing-function: ease-in;
	}

	100% {

		top: 120px;
		animation-timing-function: ease-out;
		left: 100%;
	}
}

@-webkit-keyframes combined {

	16%,
	48%,
	78% {
		top: 120px;
		-webkit-animation-timing-function: ease-out;
	}

	32% {
		top: 0px;
		-webkit-animation-timing-function: ease-in;
	}

	62% {
		top: 50px;
		-webkit-animation-timing-function: ease-in;
	}

	90% {
		top: 70px;
		-webkit-animation-timing-function: ease-in;
	}

	100% {

		top: 120px;
		-webkit-animation-timing-function: ease-out;
		left: 100%;
	}
}

/* End of loading popups and animations */

.icon-link {
	margin-right: 1rem;
	color: var(--global-color-accent-light) !important;
}

.icon-link:hover {
	color: var(--global-color-selected) !important;
}

.border-animation {
	/* border: solid var(--background); */
	/* border-width: 0.1em; */
	border-radius: 2px;
	animation: none;
}

.border-animation.active {
	/* border: solid var(--global-color-accent-light); */
	/* border-width: 0.1em; */
	border-radius: 2px;
	animation: capture-animation 2s infinite;
	box-shadow: 0 0 1px 1px var(--global-color-accent);
}


@keyframes capture-animation {
	0% {
	  box-shadow: 0 0 0 0px var(--global-color-accent);
	}
	100% {
	  box-shadow: 0 0 0 10px transparent;
	}
  }

::-webkit-scrollbar {
	width: 5px !important;
	border-radius: 6px;
}

area:hover {
	cursor: pointer;
}

.map-container {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.map-container canvas {
	position: absolute;
}

.map-container img {
	opacity: 0;
	position: absolute;
}

option {
	background-color: var(--global-color-primary);
}

select option:hover,
select option:focus {
	background-color: var(--background);
}

.mirror {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	/* Safari and Chrome */
	-moz-transform: rotateY(180deg);
	/* Firefox */
}

#editor-video::-webkit-scrollbar {
	background: transparent !important;
}

#editor-video::-webkit-scrollbar-track {
	background: transparent !important;
}

#editor-video::-webkit-scrollbar-thumb {
	background: transparent !important;
}

.highlight-border {
	transition: border-color 0.5s ease;
	/* Transición suave para el borde */
	animation: highlight-border 2s ease-out forwards;
}

@keyframes highlight-border {
	0% {
		box-shadow: none;
	}

	50% {
		box-shadow: inset 0 0 1px 1px white;
		/* Bright effect */
	}

	100% {
		box-shadow: none;
	}
  }

.card {
	width: 130px;
	height: 195px;
	perspective: 1000px; /* Necesario para efecto 3D */
	margin: 30px;
	display: inline-block;
  }
  
  .card-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 0.6s;
	transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
	transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }
  
  .card-front img, .card-back img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .card-back {
	transform: rotateY(180deg);
  }

  .card-button {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  }

  :root[data-theme="light"] .card-button {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

 /* .lexbutton.roundedbtn {
	width: 100px !important;
    height: 100px !important;
    border-radius: 49px;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--global-color-tertiary)!important;
	background-color: rgb(42, 42, 42)!important;
}
.lexbutton.roundedbtn.selected {
	border: 4px solid whitesmoke
}
.roundedbtn:hover {
	border: 4px solid var(--global-accent-light)!important;
	background-color: rgb(42, 42, 42)!important;
}
.roundedbtn img{
	width: 120px;
} */
.card-color {
	background: radial-gradient(#2b2b2b, #161616);
	/* border: 4px solid var(--global-color-tertiary)!important; */
}
.card-color.selected{
	border: 4px solid var(--global-color-accent-light) !important;
}

.lextab.selected svg {
	color: var(--global-color-accent);
	transform: scale(1.5);
}

.hidden {
	display: none!important;
}

/* .bg-background {
	background: var(--color-neutral-950);
}

.bg-secondary {
    background-color: var(--color-neutral-900);
} */

.font-extrabold {
	font-weight: var(--font-weight-extrabold);
}